@page "/Registration"

@layout LoginLayout


<div class="container">
    <div class="row py-5">
        <div class="col-lg-3 mb-4 border-col hide-max-576">
            <AnchorList></AnchorList>
        </div>
        <div class="col-lg-8 offset-lg-1">
            <div class="it-page-sections-container">
                <RegistrationComponent></RegistrationComponent>
            </div>
        </div>
    </div>
</div>
<div class="element-separator"></div>