@page "/ResetPassword/{ID}"

@layout LoginLayout



<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <ResetPasswordComponent ID="@ID"></ResetPasswordComponent>
        </div>
    </div>
</div>
<div class="element-separator"></div>