@page "/Veriff/Result"

@layout LoginLayout



<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <VerifyVeriffResultComponent></VerifyVeriffResultComponent>
        </div>
    </div>
</div>
<div class="element-separator"></div>