@page "/VerifyEmail/{ID}"

@layout LoginLayout



<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <VerifyEmailComponent ID="@ID"></VerifyEmailComponent>
        </div>
    </div>
</div>
<div class="element-separator"></div>