@page "/Veriff/{ID}"

@layout LoginLayout



<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <VerifyVeriffComponent ID="@ID"></VerifyVeriffComponent>
        </div>
    </div>
</div>
<div class="element-separator"></div>