@page "/VerifyPhone/{ID}"

@layout LoginLayout



<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <VerifyPhoneComponent ID="@ID"></VerifyPhoneComponent>
        </div>
    </div>
</div>
<div class="element-separator"></div>