<div class="form-password">
    @if(HidePassword)
    {
        <input type="password" @bind-value="@Password" class="form-control" placeHolder="@PlaceHolder" />
        <div class="btn btn-secondary" @onclick="OnShowPassword">
            <i class="fa-solid fa-eye"></i>
        </div>
    }
    else
    {
        <input type="text" @bind-value="@Password" class="form-control" placeHolder="@PlaceHolder" />
        <div class="btn btn-secondary btn-disabled">
            <i class="fa-solid fa-eye"></i>
        </div>
    }
</div>