.document-detail-download {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

    .document-detail-download:hover {
        color: var(--primary);
    }

        .document-detail-download:hover .document-detail-download-icon {
            color: var(--primary) !important;
        }

.document-detail-download-icon {
    font-size: 24px;
    color: #808080;
}

.document-detail-download-description {
    line-height: 34px;
}
