.person-selected-avatar-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid lightgray;
    min-width: 300px;
}
    .person-selected-avatar-container:hover {
        border-color: var(--primary);
        color: var(--primary);
    }

    .person-selected-cancel {
        color: #808080 !important;
        font-size: 22px;
        line-height: 54px;
        text-align: center;
        width: 40px;
        cursor: pointer;
    }

    .person-selected-cancel:hover {
        color: var(--primary) !important;
    }
.person-selected-container{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}