<div class="container">
    <div class="row mb-4 relative-container">
        <div class="col-12 text-center">
            @TextProvider.Get("FRONTEND_SERVICES_NO_NOTIFICATIONS")
        </div>
    </div>
</div>