@if (Organisation != null)
{
    <div class="col-sm-6 col-lg-6 mb-3">
        <div class="card card-teaser card-teaser-info rounded shadow-sm p-3">
            <div class="card-body pe-3">
                <p class="card-title text-paragraph-regular-medium-semi mb-3">
                    <a class="text-decoration-none" @onclick="OnClick"  data-element="service-area">
                        @Organisation.Title
                    </a>
                </p>
                @if (!StringHelper.MarkupStringIsNullOrWhiteSpace(Organisation.DescriptionShort))
                {
                    <div class="card-text no-read">
                        <p class="u-main-black text-ellipsis">@((MarkupString)Organisation.DescriptionShort.Replace("<p>", "").Replace("</p>", ""))</p>
                    </div>
                }
            </div>
        </div>
    </div>
}